@import './utils/variables';
@import './utils/mixin';
@import './utils/general';
@import './components/btn';
@import './components/logo';
@import './components/header';
@import './components/mob-menu';
@import './components/hero';
@import './components/modal';
@import './components/advantages';
@import './components/works';
@import './components/teams';
@import './components/social';
@import './components/clients';
@import './components/flooter';
@import './components/portfolio';