.advantages {
  padding-bottom: 0;
}

.adv-list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.adv-item {
  padding-bottom: 30px;

  @include mq(tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include mq(descktop) {
    flex-basis: calc((100% - 90px) / 4);
    padding-bottom: 0;
  }
}

.adv-box-svg {
  display: flex;
  background-color: $secondary-bcg-color;
  justify-content: center;
  align-items: center;
  height: 120px;
}

// .adv-bcg {
//   &::before {
//     content: "";
//     display: block;
//     background-image: url(../images/svg/astronaut.svg);
//     background-color: $secondary-bcg-color;
//     background-position: center;
//     background-size: 70px 70px;
//     background-repeat: no-repeat;
//     height: 120px;
//     width: 270px;
//   }
// }

.advan-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;

  @include mq(mobile-only) {
    text-align: center;
  }
}

.advan-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: $secondary-txt-color;
}