.client-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.client-item {
    flex-basis: calc((100% - 30px) / 2);

    @include mq(tablet) {
        flex-basis: calc((100% - 60px) / 3);
    }

    @include mq(descktop) {
        flex-basis: calc((100% - 150px) / 6);
    }
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $client-border;
    border-radius: 4px;
    width: 100%;
    height: 92px;
    transition: border-color $time $cub-bezier;

    &:hover,
    &:focus {
        border-color: $accent-txt-color;
    }
}

.client-svg {
    fill: $client-border;
    transition: fill $time $cub-bezier;

    .client-link:hover &,
    .client-link:focus & {
        fill: $accent-txt-color;
    }
}