.flooter {
    background-color: $dark-bcg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.fl-box {
    display: flex;
    flex-direction: column;

    @include mq(descktop) {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}

.fl-box12 {
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
        flex-direction: row;
    }

    @include mq(tablet-only) {
        justify-content: space-around;
    }

    @include mq(descktop) {
        align-items: baseline;
    }
}

.fl-box1 {
    padding-bottom: 60px;

    @include mq(not-descktop) {
        text-align: center;
    }
}

.fl-box2 {
    padding-bottom: 60px;

    @include mq(descktop) {
        margin-left: 70px;
    }
}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: $white-txt-color;
    font-style: normal;
    margin-top: 20px;

    @include mq(not-descktop) {
        text-align: center;
    }
}

.flooter-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: $flooter-text;
}

.adress-list {
    margin-top: 8px;

    @include mq(descktop) {
        margin-top: 9px;
    }
}

.address-item {
    margin-top: 8px;

    @include mq(descktop) {
        margin-top: 9px;
    }
}

.flooter-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: $white-txt-color;

    @include mq(descktop) {
        text-align: left;
    }
}

/* ******форма підписки */
.form-subscribe {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

    @include mq(descktop) {
        flex-direction: row;
        align-items: stretch;
    }

}

.inp-email {
    max-width: 450px;
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    background-color: inherit;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;

    @include mq(descktop) {
        width: 358px;
        margin-right: 12px;
    }
}

.img-send {
    fill: $white-txt-color;
    margin-left: 10px;
}