.hero {
    background-image: linear-gradient(to right, $hero-bcg, $hero-bcg),
        url("../images/hero/hero-img_sm_1x.jpg");

    @include mq(retina) {
        background-image: linear-gradient(to right, $hero-bcg, $hero-bcg),
            url("../images/hero/hero-img_sm_2x.jpg");
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    //width: 480px;

    @include mq(tablet) {
        // width: 768px;
        background-image: linear-gradient(to right, $hero-bcg, $hero-bcg),
            url("../images/hero/hero-img_md_1x.jpg");

        @include mq(retina) {
            background-image: linear-gradient(to right, $hero-bcg, $hero-bcg),
                url("../images/hero/hero-img_md_2x.jpg");
        }
    }

    @include mq(descktop) {
        // width: 1200px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, $hero-bcg, $hero-bcg),
            url("../images/hero/hero-img_lg_1x.jpg");

        @include mq(retina) {
            background-image: linear-gradient(to right, $hero-bcg, $hero-bcg),
                url("../images/hero/hero-img_lg_2x.jpg");
        }
    }
}

.hero--position {
    // margin-right: auto;
    // margin-left: auto;
}

.hero__title {
    color: $white-txt-color;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 360px;

    @include mq(descktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }

}

.hero__title-position {
    margin: 0 auto 30px auto;
}