body {
    font-family: $main-font;
    background-color: $main-bcg-color;
    color: $main-txt-color;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(mobile) {
        width: 480px;
    }

    @include mq(tablet) {
        width: 768px;

    }

    @include mq(descktop) {
        width: 1200px;
    }

    //outline: tomato solid 5px;
}

.link {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-txt-color;
    }
}

li,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    // margin-left: auto;
    // margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    //width: 100%;

    @include mq(descktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    //outline: green solid;
}

.section-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;

    @include mq(descktop) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}